@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<MudIconButton Icon="@Icons.Material.Filled.AutoFixHigh" Color="Color.Tertiary" @onclick="IncrementCount"></MudIconButton>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }

}